<%- include("header") %>
<div class="container-fluid home_div">
  <div class="row max-height-bg justify-content-center align-items-center">
    <div class="mx-auto banner text-center">
      <h1 class="text-capitalize"><strong class="banner-title">Tech with J</strong></h1>
      <a href="post" class="btn banner-link text-uppercase">Explore</a>
    </div>
  </div>
</div>

<!-- About us-->
<section class="about py-5">
  <div class="container">
    <div class="row">
      <!-- About us text -->
      <div class="col-10 col-md-6 mx-auto my-5">
        <h1 class="about-us-heading">Our Story</h1>
        <p class="w-75"> This blog is for learners, educators and readers who are curious about latest technologies.</p>
      </div>
      <!-- About us image -->
      <div class="col-10 col-md-6 mx-auto my-5 about-img-container">
        <img src="form.jpg" alt="" class="img-fluid about-img">
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-md-6 mx-auto my-5">
        <h1 class="about-us-heading">Join Us</h1>
        <p class="w-75"> Become a member and explore all the articles and tutorials. You can create one too !!</p>
        <a href="signin" class="btn banner-link text-uppercase">Become a Member</a>
      </div>
      <div class="col-10 col-md-6 mx-auto my-5 about-img-container">
        <img src="signup.jpg" alt="" class="img-fluid signin-img">
      </div>
      
    </div>
    <div class="row">
      <div class="col-10 col-md-6 mx-auto my-5">
        <h1 class="about-us-heading">Explore</h1>
        <p class="w-75"> Check all our posts and tutorials here</p>
        <a href="post" class="btn banner-link text-uppercase">Posts</a>
      </div>
      <div class="col-10 col-md-6 mx-auto my-5 about-img-container">
        <img src="post.jpg" alt="" class="img-fluid about-img">
      </div>
      
    </div>
  </div>
</section>


  
  
  

  


<%- include("footer") %>
