body{
  background-image: url("weather.png");
  font-family: 'Righteous', cursive;
}
.mydiv{
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.input{
  width: 400px;
  border-radius: 25px;
  margin: 30px;
  padding-left: 20px;
}
.mydiv button{
  border-radius: 25px;
  background-color: white;
}
.mydiv button:hover{
  background-color: black;
  color: white;
}
p{
  width:50%;
  padding:15px;
  padding-left: 15%;
  margin: auto;
  font-size: 20px;
  /* background-color: red; */
  text-align: left;
}
img{
  width: 250px;
  height: 150px;
}

